@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');
*{
    color: #B59970;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
body {
    background-color: #111;

}
section {
    margin-top: 50px;
    padding: 0 10%;
}

.navbar {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 0 5%;

}
.navbar  .logo a {
    font-size: 25px;
    color: #B59970;

}
.navbar  .logo a span {
    color: #fff;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;

}

.butt{
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu a {
  color: #fff;
  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 400;
}
.btn-reservation {
    color: #B59970;
    font-size: 14px;
    border: 2px solid #B59970;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-reservation:hover {
    background-color: #B59970;
    color: #fff;

}



/* Home acceuil CSS */

#home {
    background: linear-gradient(rgba(0,0,0,0.1),#333), url("images/image_de_fond.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#home h2 {
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 0.02px;
    color: transparent;
    text-transform: lowercase;
}
#home h4 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;

}
#home p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
.home-btn {
    margin-bottom: 20px;
}


/*A propos CSS*/
.right{
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#a-propos {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 10%;
    width: 100%;
}
.title {
    text-transform: capitalize;
    margin: 70px 0;
    font-weight: bold;
    color: #B59970;
    position: relative;
    margin-left:15px;
    font-size: 18px;

}
.title::after {
    position: absolute;
    left: -15px;
    content: "";
    height: 100%;
    background-color: #fff;
    width: 5px;
}
.img-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

.img-desc .left {
  justify-self: center;
  height: 346px;
  width: 80%;
}
.img-desc .right {
  width: 100%;
  margin-left: 20px;
}

.img-desc .left video {
    width: 100%;
    height: 100%;

    box-shadow: 0 0 10px #B59970;
}
.img-desc .left::after {

    content: "";
    height: 100%;
    background-color: #B59970;
    width: 100%;
    z-index: -1;
}
.img-desc .right h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;

}
.img-desc .right p {
    color: #B59970;
    font: 14px;
    margin-bottom: 36px;
}
.img-desc .right a {
    border: 1px solid #B59970;
    color: #B59970;
    font-size: 14px;
    padding: 8px 25px;
    font-weight: bold;
}

/*Destination CSS*/
#popular-destination {
    padding: 0 10% ;
    margin-bottom: 50px;
}
#popular-destination .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 32px;
}
#popular-destination .content .box {
    overflow: hidden;
    position: relative;
    height: 250px;
    transition: 0.5s;
}
#popular-destination .content .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s;
}
.box .content  h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
.box .content p {
    padding: 2px;
    font-size: 12px;
}
.box .content p:nth-child(3){
    margin-bottom: 25px;
}
.box .content a {
    margin-top: 60px;
    padding: 10px 60px;
    border: 2px solid #B59970;
    color: #29d9d5;
    font-weight: bold;
}
.box:hover {
    box-shadow: 0 0 10px #B59970;
}
.box:hover .content {
    transform: translateX(0);
}

/* Contact CSS */

#contact {
  padding: 0 10%;
  margin-bottom: 50px;
}

textarea {
    height: 150px;
    resize: none;
    outline: 0;
    width: 100%;
    padding: 10px;
}
#contact form input:focus , textarea:focus {
    border: 1px solid #B59970;
}
iframe {
    height: 150px;
    width: 100%;
}
#contact button {
    width: fit-content;
    padding: 8px 40px;
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
#contact button:hover {
    letter-spacing: 1px;
}

#Mentions{
  display: flex;
  flex-direction: column;
}

.Mentions {
  justify-content: center;
  color: white;
  cursor: pointer;

  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.button{
  margin-bottom: 23vh;
  float: right;
  width: 20vw;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  background: 0;
  color: #B59970;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}

.button:hover{
  background: #B59970;
  color: #fff;
}



.content {
  color: white;
  padding: 0 18px;
  display: none;
  overflow: hidden;
}



footer {
    height: 25vh;
    width: 100%;

    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}
footer p {
  color: #B59970;
  display: inline-flex;
  white-space: pre-line;
  text-align: left;;
}
footer p span {
    color: #B59970;
}

.minia{
  height: fit-content;
}

.responsive-menu {
    display: none;
}

.adress {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
}

#col {
  margin: 1vw;
  width: 15vw;
  justify-content: center;
}



.form {
  width: 340px;
  height: 160px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}

h3 {
  font-size: 30px;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
button {

  margin-bottom: 23vh;
  float: right;
  width: 20vw;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  background: 0;
  color: #B59970;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}



button:hover {

  color: #fff;
}

.butt:hover {
  background: #B59970;
  color: #fff;
  transition: 0.5s;
}

span {
  margin: 0 5px 0 15px;
}

.div_f {
  content: "Hi";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

.legal {
  color: #B59970;
}




/*Responsive*/
@media (max-width:750px) {
    .navbar .menu {
        display: none;
    }
    .btn-reservation {
        display: none;
    }
    /*Home responsive*/
    #home h2 {
        font-size: 18px;
        -webkit-text-stroke: 0;
        color: #fff;
    }
    #home h4 {
        font-size: 28px;
    }
    #home p {
        text-align: center;
        font-size: 10px;
    }
    .find_trip {
        width: 100%;
        height: 200px;
    }
    .find_trip form {
        flex-wrap: wrap;
    }
    .find_trip form div {
        margin-top: 10px;
        flex-direction: column;
        width: 47%;
    }
    .find_trip form input[type="submit"]{
        width: 47%;
    }
    .home-btn {
        display:block;
    }
    /*Responsive A propos*/
    .img-desc {
        flex-direction: column;
        width: 100%;
    }
    .img-desc .left , .img-desc .right {
        width: 100%;
    }
    .img-desc .left video {
        width: 100%;
    }
    .img-desc .left::after {
        background-color: transparent;
    }
    .img-desc .left {
        margin-bottom: 20px;
    }

    /*Responsive menu*/
    .responsive-menu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .responsive-menu::after {
        position: absolute;
        content: "";
        height: 3px;
        background-color: #B59970;
        width: 28px;
        box-shadow: 0 10px 0 #B59970;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .responsive-menu.active::after {
        box-shadow: 0 0 0 #B59970;
        transform: rotate(45deg);
    }
    .responsive-menu::before {
        position: absolute;
        content: "";
        height: 3px;
        background-color: #B59970;
        width: 28px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .responsive-menu.active::before {
        transform: rotate(-45deg);
    }
    .navbar .menu.responsive {
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        background-color: #222;
        align-items: unset;
        animation: animate-menu 1s forwards;
    }
    .navbar .menu.responsive li {
        margin: 20px;
        width: 100px;
        padding-left: 20px;
    }

    @keyframes animate-menu {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(100%);
        }
    }
}

img{
  height: 150px;
  border-radius: 9px;
}

video{

  object-fit: inherit;
}

/*css actu*/

.portfolio {
  background: #111;
  border-radius: 9px;
}

.portfolio .grid__item {
  max-width: 50%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

.portfolio .grid__item.hide {
  opacity:0;
  max-width: 0;
  padding: 0;
  overflow: hidden;
  transition: all .4s ease;
}

.portfolio-filters .grid__item {
  max-width: 50%;
  margin-bottom: 0;
}

.portfolio-filters a {
  color: var(--color-body);
  background: #EEE;
  display: flex;
  flex:1;
  justify-content: center;
  padding:1rem;
}

.portfolio-filters a.active {
  color: #FFF;
  background:#5b6c78;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 4;
  transform: scale(0);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.show.modal {
  transform: scale(1);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity: 1;
  visibility:visible;
}

.modal__content {
  background-color: #fefefe;
  height: 100vh;
  padding: 5rem 1rem;
  overflow: auto;
  text-align: left;
}

.modal img {
  margin-bottom: 2rem;

  width: 100%;
  height:auto;
}

.modal__title {
  margin: 0 0 2rem;
}

.modal__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: 1px solid #eee;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 3.1rem;
  color: #666;
  cursor: pointer;
}

.modal .grid__item {
  max-width: 100%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

@media screen and (min-width: 750px) {
  .modal .grid__item {
    max-width: 50%;
  }
  .modal__content {
    padding: 3rem;
  }
}

@media screen and (max-width:749px) {
 .portfolio a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width:750px) {
  .portfolio .grid__item {
    max-width: 33.3333%;
  }
 .portfolio-filters .grid__item {
    max-width: 25%;
  }
}

.card {
  background: #FFF;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
  border: 1px solid #111;
   overflow: hidden;
   border-radius: 3%;
}

.card__inner {
  padding:2rem;
}

.card__title {
  margin:0 0 1rem;
  font-size: 1.6rem;
}

.card__overlay {
  background: rgba(0,0,0,0.8);
  position: absolute;
  top:0;

  z-index:0;
  width: 100%;
  height: 100%;
  top:110%;
  transition: all .3s;

}
.card__overlay a {
  font-size: 4.5rem;
  color:#FFF;
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card:hover .card__overlay {
  top:0;
}



.grid {
  display: flex;
  flex-wrap: wrap;
}

.h5.h3{
  font-size: 25px;
}

.grid__item {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  padding:1rem;
  justify-content: center;
}

@media screen and (min-width:750px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  .grid__item {
    max-width: 50%;
  }
}
